---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Zapato Escolar</title>
	</head>
	<body>
		<Header />
		<h1>Escolar</h1>
		<Footer />
		<script>
			import "../scripts/menu.js";
		  </script>
	</body>
</html>
