---
import { Image } from "astro:assets";

import "../styles/schoolStyles.css";
import Cards from "../components/Cards.astro"
import PrincipalLayout from "../layouts/principalLayout.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Zapato Escolar</title>
	</head>
	<body>
		<PrincipalLayout>
			<h1>Escolar</h1>
			<main>
				
				<Cards />
				
			</main>
		</PrincipalLayout>
		<script>
			import "../scripts/menu.js";
		</script>
	</body>
</html>
