---
import { Image } from 'astro:assets';
import "../styles/cardStyles.css"
import escolar1 from "../images/escolar1.jpg"
import escolar2 from "../images/escolar2.webp"
import escolar3 from "../images/escolar3.webp"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="card">
            <div class="face front">
                <Image class='image' src={escolar1} alt='' />
                <h3>$500</h3>
            </div>
            <div class="face back">
                <h3>BALANCE</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus sequi consequatur tenetur aliquam hic minus.</p>
            </div>
        </div>
        <div class="card">
            <div class="face front">
                <Image class='image' src={escolar2} alt='' />
                <h3>$500</h3>
            </div>
            <div class="face back">
                <h3>BALANCE</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus sequi consequatur tenetur aliquam hic minus.</p>
            </div>
        </div>
        <div class="card">
            <div class="face front">
                <Image class='image' src={escolar3} alt='' />
                <h3>$500</h3>
            </div>
            <div class="face back">
                <h3>BALANCE</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus sequi consequatur tenetur aliquam hic minus.</p>
            </div>
        </div>
        <div class="card">
            <div class="face front">
                <Image class='image' src={escolar1} alt='' />
                <h3>$500</h3>
            </div>
            <div class="face back">
                <h3>BALANCE</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus sequi consequatur tenetur aliquam hic minus.</p>
            </div>
        </div>
    </main>
</body>
</html>