---
import Cards from "../components/Cards.astro";
import CardsTenis from "../components/CardsTenis.astro"
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import video from "../videos/school.mp4";
import "../styles/indexStyles.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Calzado escolar</title>
	</head>
	<body>
		<main id="inicio" class="main">
			<Header />
			<div class="menu-wrap sticky-menu">
				<nav class="nav">
					<a class="link-1" href="#inicio">INICIO</a>
					<a class="link-1" href="#escolar">ESCOLAR</a>
					<a class="link-1" href="#tenis">TENIS</a>
				</nav>
			</div>
			
			<div class="head">
				<h1  class=" title-index">Tenis Land</h1>
				<div class="video">
					<h3 class="subtitle-index">
						"Comodidad y estilo: El calzado escolar como herramienta
						educativa"
					</h3>
					<video autoplay loop src={video}></video>
				</div>
			</div>
			<h2 id="escolar" class="escolar-area">Area de Calzado Escolar</h2>
			<Cards />
			<h3 id="tenis" class="tenis-area">TENIS</h3>
			<CardsTenis />
			<Footer />
		</main>
	</body>
</html>
