---
import { Image } from "astro:assets";
import tenisland from "../images/tenisland.png";
import phone from "../images/phone-fill.svg";
import whatsapp from "../images/whatsapp-icon.svg";
import visa from "../images/logos/visa.png";
import mastercard from "../images/logos/mastercard.png";
import mercadopago from "../images/logos/mercadopago.webp";
import "../styles/footerStyles.css";
---

<footer class=" ">
    <div class="logos">
        <Image class="logo-image image1" src={visa} alt="Icono realizado por Pixel perfect" />
        <Image class="logo-image" src={mercadopago} alt="Mercado Libre"/>
        <Image class="logo-image" src={mastercard} alt="Master Card"/>
        
    </div>
    <p class="p-footer">Copyright pagina creada por WEBLAND</p>
    
</footer>
