---
import Navigation  from "../components/Navigation.astro";
import Hamburguer from "../components/Hamburguer.astro";
import { Image } from "astro:assets";
import headertenis from "../images/headertenis.png";
import phone from "../images/phone-fill.png"
import whatsapp from "../images/whatsapp-icon.svg";
---

<div>
    <Image class="image" src={headertenis} alt="header"></Image>
    <div class="phone-header">
        <div phone-content>
            <Image class="image-phone" src={phone} alt="phone" />
            <i class="text-phone">33-100-544-76</i>
        </div>
       <div class="whatsapp-header">
        <p class="text-whatsapp">Chatea con nosotros 👉</p>
        <a href="https://wa.me/523310054476/" target="_blank">
            <Image class="logo-whatsapp" src={whatsapp} alt="phone" />
         </a>
       </div>
    </div>
    <header class="">
        
        <nav class="nav-container">
            <Hamburguer />
            <Navigation />
            
        </nav>
    </header>
</div>
