---
import { Image } from "astro:assets";
import header from "../images/headertenisland.jpg";
import "../styles/headerStyles.css";
import whatsapp from "../images/whatsapp-icon.svg";
---

<header>
    <div class="header-top">
        <Image class="image-header" src={header} alt="Cabecera" />
       
            
            <a class="anuncio" href="https://wa.me/3310054476" target="_blank">
                <p>3310054476</p>
                <Image class="logo-whatsapp" src={whatsapp} alt="" />
            </a>
       
    </div>
    
</header>
